#shelbyHigh {
  display: flex;
  background-color: #996600;
    color:#FFFFFF;
 justify-content:center;
    
}

#defaultContainer {
  display: flex;
  background-color: black;
    color:#FFFFFF;
 justify-content:center;
    
}

#accountBar{
    color:darkblue;
}

.flex-container > div {
    margin: 15px;
    font-size:20px;
}

.nchsaaImage{
    display: block;
  float:left;
  width: 150px;
    height:150px;
}

.shsgoldenlions{
    display: block;
  float:right;
  width: 150px;
    height:150px;
}

#kmhs{
  display: flex;
  background-color: 2F2F2F;
    color:#000000;
 justify-content:center;
}

#cresthigh{
  display: flex;
  background-color: #0B3726;
    color:#000000;
 justify-content:center;
}

#burnshigh{
  display: flex;
  background-color: #06A6E0;
    color:#000000;
 justify-content:center;
}

.kingsMountainMounties{
 display: block;
  float:right;
  width: 150px;
    height:150px;
    background-color:#EFE14D;
}

.burnsBulldogs{
    display:block;
    float:right;
    width:150px;
    height:150px;
}

.crestChargers{
    display:block;
    float:right;
    width:150px;
height:150px;
background-color:white;
}

.nav-link{
    color:white;
    
}

.disabled {
    color:white;
}

.alertLions{
    color:black;
}

table, th, td{
  border: 1px solid black;
    
}

.vertical-menu{
    background-color:silver;
}

.crestlinkDisabled{
    color:#EEB503;
}

#accountBar{
    display:flex;
    justify-content:space-around;
    }

.accountSettings{
    color:black;
}

.accountCreate{
    color:black;
}

.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}

.registration{
    background-color:silver;
    color:white;
}

#burnsProfile{
    width:400px;
    height:400px;
    border:20px;
    border-style:solid;
    margin-top:60px;
    
}

#crestProfile{
    width:400px;
    height:400px;
    border:20px;
    border-style:solid;
    margin-top:60px;
    
}

#kmProfile{
    width:400px;
    height:400px;
    border:20px;
    border-style:solid;
    margin-top:60px;
    
    
}

#shelbyProfile{
    width:400px;
    height:400px;
    border:20px;
    border-style:solid;
    margin-top:60px;
    
}

h2{
    padding-top:20px;
    padding-bottom:20px;
}

*{
    
font-family:Helvetica;
}

#shsLink{
    border:10px;
    }


#kmLink{
    border:10px;
    }


#crestLink{
    border:10px;
    }


#burnsLink{
    border: 10px;
    }